body{
    margin: 0;
}
header{
    background-color: rgba(0, 136, 255, 0.691);
    height: 100px;
    width: auto;
    background-image: url(../img/pattern.png);
    background-size: 550px;
    background-position: top left;
    padding: 10;
}

header img{
    max-width: 200px;
    max-width: auto;
    margin: 25px 0px;
    
}

#resto, header img{
    padding: 0px 400px;
    font-family: 'Times New Roman', Times, serif;
    ;
}

ul {
    padding: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

#CellaNome{
    background-color: rgb(70, 166, 251);
    color: white;
    
}
.CellaCeleste{
    background-color: rgb(138, 238, 253);
}

table tr th{
    text-align: left;
    width: 10px;
}

h1{
    font-size: 38px;
    margin: 30px 0px 0px;
}
#writer{
    font-size:18px;
    color: rgba(0, 0, 0, 0.451);
    margin: 1px 0px 0px;
}
#date{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.451);
    margin: 1px 0px 20px;
}
#writer a{
    color: rgb(71, 181, 254);
    text-decoration: none;
}
#credits{
    font-size: 12px;
    margin: 1px;
}
h3{
    color: rgba(0, 0, 0, 0.466);
}

#BloccoA{
    background-image: url(../img/monitor.jpg);
}
#BloccoB{
    background-image: url(../img/graph.jpg);
    margin: 0px 0px 15px;
}

#BloccoA, #BloccoB{
    background-position: center;
    height: 210px;
    width: 270px;
    color: white;
    font-size: 23px;
    padding: 10px;
}
span{ 
    background-color: yellow;
}